Repository mwolson/emacs-shared: changes, and which lefthook commands are due for each by the changed paths.
All: md-format, yaml-format

lefthook.yaml:

.common-excludes: &common_excludes
  - "/bin"
  - "/build"
  - "/elisp"
  - "/extra"
  - "/share"
  - "**/node_modules"
  - "pnpm-lock.yaml"

pre-commit:
  parallel: true
  output: true
  commands:
    md-format:
      priority: 1
      glob: "*.md"
      exclude: *common_excludes
      run: mise x -- pnpm run fix:md:file {staged_files}
      stage_fixed: true
    yaml-format:
      priority: 1
      glob: "*.yaml"
      exclude: *common_excludes
      run: mise x -- pnpm run fix:yaml:file {staged_files}
      stage_fixed: true

feat: smart backspace for file completion that skips unchanged results
  init/shared-init.el
Due: none

fix: bubble ./ to top of file completions in icomplete-vertical-mode
  AGENTS.md
  init/shared-init.el
Due: md-format

fix: use quotes in my-md-code-aliases to fix treesit bash errors in md files
  init/shared-init.el
Due: none

docs: add batch harness tip for debugging third-party package errors
  AGENTS.md
Due: md-format

feat: backspace in icomplete for files now deletes all the way back to `/` or `\`
  init/shared-init.el
Due: none

fix: workaround bug#79687 treesit :match predicate errors in python-ts-mode
  init/shared-init.el
Due: none

fix: workaround bug#79687 treesit :match errors in typescript-ts-mode
  init/shared-init.el
  init/treesit-python-ts-fix.el
  init/treesit-typescript-ts-fix.el
Due: none

fix: generalize bug#79687 treesit :match workaround across all modes
  init/shared-init.el
  init/treesit-predicate-rewrite.el
  init/treesit-python-ts-fix.el
  init/treesit-typescript-ts-fix.el
Due: none

fix: allow built-in package upgrades
  init/early-shared-init.el
  init/shared-init.el
  scripts/install-packages.el
  scripts/native-comp-all.el
Due: none

Migrate package management to aube
  .npmrc
  aube-lock.yaml
  aube-workspace.yaml
  bootstrap.sh
  doc/install.md
  lefthook.yaml
  package.json
Due: md-format, yaml-format

Update node dependencies
  aube-lock.yaml
  package.json
  scripts/install-treesit-grammar.sh
Due: yaml-format

Configure aube build approvals
  package.json
Due: none

Exclude Svelte from aube trust policy
  aube-workspace.yaml
Due: yaml-format

fix: add mise/shims to path, switch aube to latest
  init/early-shared-init.el
  package.json
Due: none

fix: avoid npm bin subprocess when adding node_modules to exec-path
  init/shared-init.el
  scripts/test-packages.el
Due: none

doc: add `brew trust` lines for macOS
  doc/install.md
Due: md-format

doc: reword due to brew upgrade behavior
  doc/install.md
Due: md-format

feat: migrate to Emacs 31.1
  AGENTS.md
  bootstrap.sh
  doc/install.md
  init/shared-init.el
  init/treesit-predicate-rewrite.el
  tpl/bin/mac/emacs.defs
  tpl/bin/windows/emacs.defs
Due: md-format

fix: allow several different Fira Code variants
  init/early-shared-init.el
Due: none

feat: use fido-vertical-mode and orderless for ctrl+s matches
  init/shared-init.el
  scripts/test-packages.el
Due: none

chore: clean up submodule builds and force ignoreSubmodules=dirty
  bootstrap.sh
  scripts/install-treesit-grammar.sh
Due: none

fix(magit): drop the --ignore-submodules flag and let git do its job
  bootstrap.sh
  init/shared-init.el
Due: none

doc: migrate to new emacs config directory and start user service
  doc/install.md
Due: md-format

fix: move backups to user-emacs-directory, set magit-status `2` keybind to collapse all
  doc/install.md
  init/early-shared-init.el
  init/settings.el
  init/shared-init.el
Due: md-format

doc: document macos emacs upgrades and point docs at ~/.config/emacs
  AGENTS.md
  README.md
  doc/customize.md
  doc/install.md
Due: md-format

fix(slime): Install xterm-color before slime
  init/shared-init.el
  scripts/test-packages.el
Due: none

doc(install): Move man-pages from minimal to full Arch install
  doc/install.md
Due: md-format
